.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary);
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  border: none;
  transition: 0.6s;
}

.primary {
  color: var(--white);
  background-color: var(--primary);
}

.primary svg * {
  fill: var(--white);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.white {
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--grey-light);
}

.white svg {
  fill: var(--primary);
}

.white:hover svg * {
  fill: var(--white);
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.down {
  transform: rotate(90deg);
  transition: 0.6s;
}

.primary svg,
.ghost:hover svg {
  fill: var(--white);
}